{% extends "site/layout.html"-%}
{% block body %}
<section style="margin-top: 100px;">
	<!-- <h1 style="text-align: center; color: blue;">はじめに</h1> -->
	<div class="new-pro">
		<h2>お気に入り物件</h2>
		<div class="content-pro row">
			{% if not request.cookies['favs_pro'] %}
			<h3 style="padding: 20px 0px 0px 15px; ">現在お気に入りの商品はありません !</h3>
			{% endif %}
			{% for pro_fav in pro_favs %}
			<div class="detail-pro col-md-3">
				<img src="{{ url_for('static', filename='images/site/') }}{{ pro_fav.image }}">
				<a href="{{ url_for('.detail', pro_id=pro_fav._id) }}"><p>{{ pro_fav.name }}</p></a>
				<p>¥{{ pro_fav.price }}</p>
			</div>
			{% endfor %}		
		</div>
	</div>
</section>
{% endblock %}
{% block footerjs %}
<script src="{{ url_for('static', filename='js/site/favorites.js') }}"></script>
{% endblock %}