<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site/search.css') }}">
    {% block head %}
    {% endblock %}
    <title> | 物件探して、デザインして、リノベしよう｜クロニクル</title>
  </head>
  <body>
    <div class="container h-100">
        {% block body %}
        {% endblock %}
        <section id="navbar">
            <div class="row nav-top">
                <div class="navigation col-md-6">
                    <ul class="nav-header">
                        <li><a href="{{ url_for('.home') }}"><img width="200px" src="{{ url_for('static', filename='images/site/logo.svg') }}"></a></li>
                        <li><a href="{{ url_for('.home') }}">ホーム</a></li>
                        <li><a href="{{ url_for('.introducation') }}">前書き</a></li>
                        <li><a href="{{ url_for('.product') }}">製品</a></li>
                        <li><a href="{{ url_for('.contact') }}">接触</a></li>
                        <li><a href="{{ url_for('.notice') }}">お知らせ</a></li>
                    </ul>
                </div>
                <div class="serch-top col-md-3">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="検索する...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>                
                </div>
                <div class="numberphone-top col-md-3">
                    <a class="nav-link" href="tel:0120602423">
                        <div class="phone-img">
                            <img src="{{ url_for('static', filename='images/site/i_phone.svg') }}" width="50px" alt="" class="img-fluid"> 
                        </div>
                        <div class="phone-number">0120-602-423</div></a>
                </div>
            </div>
        </section>
        <footer>
            <div class="row footer-top">
                <div class="col col-12 col-sm-12 text-center">
                    <p>
                        <a href="#"><img src="#" alt="" class="img-fluid"></a>
                        <span>– クロニクルが提供するサービス</span>
                      </p>
                      <ul class="menu-footer">
                        <li><a href="https://www.chronicle-web.com/logmansion/">ログマンション</a></li>
                        <li><a href="https://www.chronicle-web.com/order_renove/">オーダーリノベ </a></li>
                        <li><a href="http://chronicle-web.localhost:5000/plus">クロニクルプラス</a></li>
                        <li><a href="https://www.chronicle-web.com/reform/">クロニクルリフォーム</a></li>
                        <li><a href="http://www.chro-residence.com/aobadai/">クロニクルレジデンス</a></li>
                        <li><a href="https://www.chronicle-web.com/showroom/">ショールーム</a></li>
                      </ul>
                </div>
            </div>
            <div class="row">
                <div class="col col-12 col-sm-6">
                    <p class="copyright">Copyright © <a href="http://chronicle-web.aws.fudosan-king.jp/plus">CHRONICLE INC</a> All rights reserved.</p>
                </div>
                <div class="col col-12 col-sm-6">
                    <a class="img_penguins btnMovetop" href="#"><img src="#" alt="" class="img-fluid"></a>
                </div>
            </div>
        </footer>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ url_for('static', filename='js/site/scroll.js') }}"></script>
    <!-- Optional JavaScript -->
    {% block footerjs %}
    {% endblock %}
  </body>
</html>