{% extends "layout.html"-%}
{% block page_body %}
<section style="padding-top: 20px;">
	<div class="panel-heading" style="background-color: #F0E68C; height: 70px;">
		<div class="col-md-3">
			<h2><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">お知らせ</a></h2>
		</div>
        <h5 class="col-md-9 create_bnt" style="margin-top: 31px !important;">
        	<a href="#" data-toggle="modal" data-target="#myModal" style="color: #8B0000;">新しい商品を作る</a>
       	</h5>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
		<table class="table">
			<thead>
			  <tr>
			    <th>Firstname</th>
			    <th>Lastname</th>
			    <th>Email</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
			    <td>Default</td>
			    <td>Defaultson</td>
			    <td>def@somemail.com</td>
			  </tr>      
			  <tr class="success">
			    <td>Success</td>
			    <td>Doe</td>
			    <td>john@example.com</td>
			  </tr>
			  <tr class="danger">
			    <td>Danger</td>
			    <td>Moe</td>
			    <td>mary@example.com</td>
			  </tr>
			  <tr class="info">
			    <td>Info</td>
			    <td>Dooley</td>
			    <td>july@example.com</td>
			  </tr>
			  <tr class="warning">
			    <td>Warning</td>
			    <td>Refs</td>
			    <td>bo@example.com</td>
			  </tr>
			  <tr class="active">
			    <td>Active</td>
			    <td>Activeson</td>
			    <td>act@example.com</td>
			  </tr>
			</tbody>
		</table>
	</div>
</section>
<section style="padding-top: 20px;">
	<div class="panel-heading" style="background-color: #F0E68C; height: 70px;">
        <div class="col-md-3">
			<h2><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">管理アカウント</a></h2>
		</div>
        <h5 class="col-md-9 create_bnt" style="margin-top: 31px !important;">
        	<a href="#" style="color: #8B0000;">新しい商品を作る</a>
       	</h5>
    </div>
    <div id="collapse2" class="panel-collapse collapse in">
		<table class="table">
		<thead>
		  <tr>
		    <th>Firstname</th>
		    <th>Lastname</th>
		    <th>Email</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
		    <td>Default</td>
		    <td>Defaultson</td>
		    <td>def@somemail.com</td>
		  </tr>      
		  <tr class="success">
		    <td>Success</td>
		    <td>Doe</td>
		    <td>john@example.com</td>
		  </tr>
		  <tr class="danger">
		    <td>Danger</td>
		    <td>Moe</td>
		    <td>mary@example.com</td>
		  </tr>
		  <tr class="info">
		    <td>Info</td>
		    <td>Dooley</td>
		    <td>july@example.com</td>
		  </tr>
		  <tr class="warning">
		    <td>Warning</td>
		    <td>Refs</td>
		    <td>bo@example.com</td>
		  </tr>
		  <tr class="active">
		    <td>Active</td>
		    <td>Activeson</td>
		    <td>act@example.com</td>
		  </tr>
		</tbody>
		</table>
	</div>
</section>
<section style="padding-top: 20px;">
	<div class="panel-heading" style="background-color: #F0E68C; height: 70px;">
        <div class="col-md-3">
			<h2><a data-toggle="collapse" data-parent="#accordion" href="#collapse3">企業</a></h2>
		</div>
        <h5 class="col-md-9 create_bnt" style="margin-top: 31px !important;">
        	<a href="#" style="color: #8B0000;">新しい商品を作る</a>
       	</h5>
    </div>
    <div id="collapse3" class="panel-collapse collapse in">
		<table class="table">
			<thead>
			  <tr>
			    <th>Firstname</th>
			    <th>Lastname</th>
			    <th>Email</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
			    <td>Default</td>
			    <td>Defaultson</td>
			    <td>def@somemail.com</td>
			  </tr>      
			  <tr class="success">
			    <td>Success</td>
			    <td>Doe</td>
			    <td>john@example.com</td>
			  </tr>
			  <tr class="danger">
			    <td>Danger</td>
			    <td>Moe</td>
			    <td>mary@example.com</td>
			  </tr>
			  <tr class="info">
			    <td>Info</td>
			    <td>Dooley</td>
			    <td>july@example.com</td>
			  </tr>
			  <tr class="warning">
			    <td>Warning</td>
			    <td>Refs</td>
			    <td>bo@example.com</td>
			  </tr>
			  <tr class="active">
			    <td>Active</td>
			    <td>Activeson</td>
			    <td>act@example.com</td>
			  </tr>
			</tbody>
		</table>
	</div>
</section>
<section style="padding-top: 20px;">
	<div class="panel-heading" style="background-color: #F0E68C; height: 70px;">
        <div class="col-md-3">
			<h2><a data-toggle="collapse" data-parent="#accordion" href="#collapse4">物件検索</a></h2>
		</div>
        <h5 class="col-md-9 create_bnt" style="margin-top: 31px !important;">
        	<a href="#" style="color: #8B0000;">新しい商品を作る</a>
       	</h5>
    </div>
    <div id="collapse4" class="panel-collapse collapse in">
		<table class="table">
			<thead>
			  <tr>
			    <th>Firstname</th>
			    <th>Lastname</th>
			    <th>Email</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
			    <td>Default</td>
			    <td>Defaultson</td>
			    <td>def@somemail.com</td>
			  </tr>      
			  <tr class="success">
			    <td>Success</td>
			    <td>Doe</td>
			    <td>john@example.com</td>
			  </tr>
			  <tr class="danger">
			    <td>Danger</td>
			    <td>Moe</td>
			    <td>mary@example.com</td>
			  </tr>
			  <tr class="info">
			    <td>Info</td>
			    <td>Dooley</td>
			    <td>july@example.com</td>
			  </tr>
			  <tr class="warning">
			    <td>Warning</td>
			    <td>Refs</td>
			    <td>bo@example.com</td>
			  </tr>
			  <tr class="active">
			    <td>Active</td>
			    <td>Activeson</td>
			    <td>act@example.com</td>
			  </tr>
			</tbody>
		</table>
	</div>
</section>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog" style="max-width: 1000px !important; margin: 40px 0 0 150px;">
	<!-- Modal content-->
	  	<div class="modal-content">
		    <div class="modal-header">
		      	<button type="button" class="close" data-dismiss="modal">&times;</button>
		      	<h4 class="modal-title">お知らせ</h4>
		    </div>
		    <div class="modal-body">

		    </div>
		    <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
	  	</div>
	</div>
</div>
{% endblock %}